<div class="page-header">
  <h1><%= @volunteer.name %></h1>
</div>

<h4>Events <span class='badge'><%= @volunteer.event_num %></span></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Location</th>
    </tr>
  <tbody>
    <% @volunteer.events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event_path(event) %></td>
        <td><%= event.date %></td>
        <td><%= event.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<h4>Edit Volunteer</h4>
<%= render 'form' %>
<% if current_organizer %>
  <p><%= link_to "Delete Volunteer", volunteer_path, data: {method: "delete"}, class: "btn btn-danger" %></p>
<% end %>
