<div class="jumbotron">
  <h1>Welcome volunteers and organizers!</h1>
  <p>Check out the volunteer opportunities we have to offer.</p>
</div>

<div class="row">
  <div class="col-md-6">
    <% @actions.each do |action| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to "#{action.name}", action_path(action) %></h3>
        </div>
        <div class="panel-body">
         <p>Date: <%= action.date %></p>
         <p>Location: <%= action.location %></p>
         <p><em>added <%= action.created_at %></em></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
  </div>
</div>

<div class="row organizer-menu">
  <%= link_to "Add an action", new_action_path %>
</div>
