<div class="jumbotron">
  <h1>Welcome volunteers and organizers!</h1>
  <p>Check out the volunteer opportunities we have to offer.
    <%= link_to "Organizer Sign-in", new_session_path, class: "btn btn-warning pull-right" %>
    <%= link_to "New Organizer", new_organizer_path, class: "btn btn-info pull-right" %>
    <%= link_to "New Volunteer", new_volunteer_path, class: "btn btn-primary pull-right" %>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <% @events.each do |event| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to "#{event.name}", event_path(event) %>
            <span class='badge pull-right'><%= event.vol_num %> vols</span>
          </h3>
        </div>
        <div class="panel-body">
         <p>Date: <%= event.date %></p>
         <p>Location: <%= event.location %></p>
         <p><em>added <%= event.created_at %></em></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Volunteers</h3>
      </div>
      <div class="panel-body">
        <% @volunteers.each do |volunteer| %>
          <p><%= link_to "#{volunteer.name}", volunteer_path(volunteer) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row organizer-menu">
  <%= link_to "Add an event", new_event_path %>
</div>
