<div class="page-header">
  <h1><%= @event.name %> <small><%= @event.date %>, <%= @event.location %></small></h1>
</div>

<h4>Volunteers <span class='badge'><%= @event.vol_num %></span></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  <tbody>
    <% @event.volunteers.each do |volunteer| %>
      <tr>
        <td><%= link_to "#{volunteer.name}", volunteer_path(volunteer) %></td>
        <td><%= volunteer.email %></td>
        <td><%= volunteer.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add volunteer</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@event) do |f| %>
          <%= f.label :volunteers %>
          <p><%= f.collection_select :volunteer_ids, Volunteer.all - @event.volunteers, :id, :name %><p>
          <%= f.submit(:class => "btn btn-primary") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Event</h3>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
        <p><%= link_to "Delete Event", event_path, data: {method: "delete"}, class: "btn btn-danger" %></p>
      </div>
    </div>
  </div>
</div>
