<!DOCTYPE html>
<html>
<head>
  <title>VolunteerManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Volunteer Manager", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Events", events_path %></li>
        <% if current_organizer %>
          <li><%= link_to "Volunteers", volunteers_path %></li>
        <% end %>
      </ul>
      <% if current_organizer %>
        <%= link_to "Sign Out", session_path("current"), method: "delete", class: "pull-right" %>
        <span class="pull-right">Logged in as <%= current_organizer.name %>.</span>
      <% else %>
        <%= link_to "Organizer sign-in", new_session_path, class: "pull-right" %>
      <% end %>
      <span class='badge pull-right'><%= Event.all.count %> events</span>
      <span class='badge pull-right'><%= Volunteer.all.count %> vols</span>
    </div>
  </div>
</nav>

<div class="container">
  <%= flash[:alert] %>
  <%= flash[:notice] %>
  <%= yield %>
</div>

</body>
</html>
